# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
staticfiles/
media/

# Environment
.env
venv/
.venv/
ENV/
env/
*.env

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
