# Python bytecode
*.pyc
__pycache__/

# Django database
db.sqlite3

# Django static files
/static/

# Environment variables
.env

# Virtual environment
my_venv/

# Log files
*.log

# Compiled files
*.pot
*.py[cod]

# Media files (if applicable)
media/
